<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}"><i class="fa fa-chevron-left"></i> Newer</a>
    {{else}}
        <span class="newer-posts faded"><i class="fa fa-chevron-left"></i> Newer</span>
    {{/if}}
    <span class="page-number">Page {{page}} of {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">Older <i class="fa fa-chevron-right"></i></a>
    {{else}}
        <span class="older-posts faded">Older <i class="fa fa-chevron-right"></i></span>
    {{/if}}
</nav>