<!doctype html>
<html class="no-js" lang="en">
<head>
    {{! Document Settings }}
    <meta charset="utf-8">

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">

    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{asset "img/favicon.png"}}" type="image/png">

    {{! Styles'n'Scripts }}
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700&amp;subset=latin,latin-ext' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600&amp;subset=latin,latin-ext' rel='stylesheet'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{asset "css/vendor/normalize.css"}}">
    <link rel="stylesheet" href="{{asset "css/vendor/foundation.min.css"}}">
    {{!-- styles for syntax highlighter you will find more here: https://github.com/isagalaev/highlight.js/tree/master/src/styles just change .min.css file name below --}}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/monokai_sublime.min.css">
    <link rel="stylesheet" href="{{asset "css/style.css"}}">
    <link rel="stylesheet" href="{{asset "css/post.css"}}">
    <link rel="stylesheet" href="{{asset "css/post-cover.css"}}">
    <script src="{{asset "js/vendor/modernizr.js"}}"></script>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{! Everything else gets inserted here }}
    {{{body}}}

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript }}
    <script src="{{asset "js/vendor/fastclick.js"}}"></script>
    <script src="{{asset "js/vendor/foundation.min.js"}}"></script>
    <script src="{{asset "js/vendor/background-check.js"}}"></script>
    <script src="{{asset "js/vendor/post-header-animations.js"}}"></script>
    <script src="{{asset "js/vendor/imagesloaded.min.js"}}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
    <script src="{{asset "js/summer.js"}}"></script>

</body>
</html>
